[core]
	excludesfile = /Users/pjc/.gitexcludes
	editor = vim
[merge]
	tool = vimdiff
[user]
	email = peter@crozier.com
	name = pjc
[color]
	ui = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
