[core]
	excludesfile = ~/.gitexcludes
	editor = /Applications/MacVim.app/Contents/MacOS/Vim
[color]
	ui = auto
[push]
	default = simple
[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[merge]
	tool = gvimdiff
