body {
    font: 13px / 1.4 Helvetica, arial, sans-serif;
    color: #333;
    background-color: #fff
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}
h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
h2	{ font-size: 21px; padding-bottom: 0.3em; border-bottom: 1px solid #cccccc; }
h2	{font-size: 1.75em; line-height: 1.225;}
table	{ border-collapse: collapse; }
td, th	{ border: 1px solid #98BF21; padding: 3px 7px 2px 7px; text-align: left;}
th	{ text-align: left; color: white; background-color: #A7C942; }
dt	{ font-weight: bold; }
#wrapper {
    font: 16px helvetica, arial, freesans, clean, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    padding: 3px;
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #dddddd !important;
    color: #333
}

a.wiki:link { color: Orange; }
a[href^="http://"]:after, 
a[href^="https://"]:after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 3px;
}
